* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: #850F8D;
    color: #ffffff;
    font-weight: 500;
}

.logo {
    margin: 20px 0;
    background: rgba(255, 255, 255, .3);
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.container {
    padding: 50px 20px;
    background: rgba(255, 255, 255, .3);
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(255, 255, 255, .4);
}

.title {
    margin: 20px 0;
    font-size: 30px;
}

.input {
    width: 300px;
    border-radius: 8px;
    margin: 20px;
    padding: 10px 42px;
    font-size: 24px;
    background: rgba(255, 255, 255, .3);
    border-color: rgba(255, 255, 255, .3);
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
    font-size: 18px;
}

.info-text {
    font-size: 20px;
}

.meaning-container {
    display: none;
}

.meaning-container h2 {
    margin: 20px 0;
    font-size: 18px;
    text-transform: capitalize;
}